<div id="<%= dom_id employee %>">
  <div class="container">
    <div class="row">
      <div class="card text-center text-white bg-dark" style="width: 18rem;">
        <div class="card-body">
          <p>
            <h5 class="card-title">Full name:</h5>
            <p class="card-text"><%= employee.first_name %> <%= employee.last_name %></p>
          </p>

          <p>
            <h5 class="card-title">Email:</h5>
            <%= employee.email %>
          </p>

          <p>
            <h5 class="card-title">Phone:</h5>
            <%= employee.phone %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>