<div class="container">
  <div class="row">
    <%= form_with(model: employee) do |form| %>
      <% if employee.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

          <ul>
            <% employee.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :first_name, class:"form-label" %>
        <%= form.text_field :first_name, class:"form-control",placeholder:"First Name" %>
      </div>

      <div class="mb-3">
        <%= form.label :last_name, class:"form-label" %>
        <%= form.text_field :last_name, class:"form-control",placeholder:"Last Name" %>
      </div>

      <div class="mb-3">
        <%= form.label :email, class:"form-label" %>
        <%= form.text_field :email, class:"form-control",placeholder:"Email" %>
      </div>

      <div class="mb-3">
        <%= form.label :phone, class:"form-label" %>
        <%= form.text_field :phone, class:"form-control",placeholder:"Phone" %>
      </div>

      <div class="mb-3">
        <%= form.submit class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>