 <p style="color: green"><% notice %></p>

<h1 class="text-center">Employee List</h1>

<div id="employees">
	<div class="container">
		<div class="row">
			<table class="table text-center table-striped">
			  <thead>
			    <tr>
			      <th scope="col">FirstName</th>
			      <th scope="col">LastName</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
			      <th colspan="2">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @employees.each do |employee| %>
			    <tr>
			      <th scope="row"><%= employee.first_name %></th>
			      <td><%= employee.last_name %></td>
			      <td><%= employee.email %></td>
			      <td><%= employee.phone %></td>
			      <td><%= link_to "Show Details", employee, class:"btn btn-info" %></td>
			      <td><%= button_to "Delete", @employee, method: :delete, class:"btn btn-danger" %></td>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>
