<% if user_signed_in? %>
<p style="color: green"><% notice %></p>

<h1 class="text-center">Employee List</h1>

<div id="employees">
	<div class="container">
		<div class="row">
			<table class="table text-center table-striped">
			  <thead>
			    <tr>
			      <th scope="col">FirstName</th>
			      <th scope="col">LastName</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
			      <th>User Id</th>
			      <th colspan="2">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @employees.each do |employee| %>
				  	<% if employee.user == current_user %>
					    <tr>
					      <th scope="row"><%= employee.first_name %></th>
					      <td><%= employee.last_name %></td>
					      <td><%= employee.email %></td>
					      <td><%= employee.phone %></td>
					      <td><%= employee.user_id %></td>
					      <td><%= link_to "Show Details", employee, class:"btn btn-info" %></td>
					    </tr>
				    <% end %>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<% else %>
	<h1 class="text-center">HelloWorld</h1>
<% end %>
